.nav {
    width: 100%;
    text-align: center;
    padding-top: 2%;

    &__item {
        color: #000;
        font-size: medium;
        text-decoration: none;
        position: relative;
        padding: 1%;
        
        &:hover {
            color: $color-highlights;
            font-weight: bold;
        }
    }
}