$color-font: #fff;
$color-bg-default: #33f;
$font-default: Arial, Helvetica, sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    margin: 0;
}

header {
    background-color: $color-font;
    width: 100vw;
    position: relative;
    height: 25vh;
    overflow: hidden;

    h1 {
        margin-top: 4rem;
        position: relative;
        z-index: 9;
        font-size: larger;
    }
}
h1 {
    color: $color-bg-default;
    text-align: center;
    width: 100%;
}

h2{
    color: $color-bg-default;
    text-align: center;
    width: 100%;
}

#article{ 
    width: 80%;
    justify-content: center;
}

.image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    justify-content: center;
    gap: 10px;
}

.image-gallery {
    /* Mobile first */
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
  
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  }
  
  .image-item {
    position: relative;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }

footer {
    background-color: $color-bg-default;
    width: 100vw;
    position: relative;
    height: 50vh;
    overflow: hidden;

    h1 {
        margin-top: 4rem;
        position: relative;
        z-index: 9;
    }
}
.waves {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 110%;

    .wave-01 {
        animation: wave1 3s ease-in-out infinite alternate;
        
    }

    .wave-02 {
        animation: wave2 3s ease-in-out infinite alternate;
    }

    .wave-03 {
        animation: dash1 3s cubic-bezier(0, 1.23, 1, 0.11) infinite alternate;
        stroke-dasharray: 150;
        stroke: #fff;
        stroke-width: 3px;
    }
}

@keyframes wave1 {
    from {
        transform: translateX(-50px);
    }
}

@keyframes wave2 {
    from {
        transform: translateX(-100px);
    }
}

@keyframes wave3 {
    from {
        transform: translateX(-20px);
    }
}

@keyframes dash1 {
    from {
       stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@import 'player';
@import 'nav';